html {
  font-size: 120%;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: pink;

}

table, th, td {
  border: 1px solid black;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5rem;
  text-align: center;
  font-color: purple;
  text-shadow: 3px 2px white;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-color: white;
  text-shadow: 3px 2px blue;
  text-align: center
}

h3 {
  lign-height: 1.5;
  text-align: center;
  text-shadow: 3px 2px lightblue;
  font-color: white;
}

h4 {
  text-align: right;
  color: white;
  text-shadow: 4px 4px yellow;
}
