.fname {
	position: absolute;
	top: 0%;
	left: 5%;
}

.lname {
	position: absolute;
	top: 10%;
	left: 50%;
}

h1 {
	font-family: "Dosis";
	font-weight: medium;
	letter-spacing: 25pt;
	font-size: 65pt;
	color: rgb(0,0,0);
	z-index: 150;
}

.img {
	position: absolute;
	top: 30%;
	left: 20%;
}
