html {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

body {
	background: linear-gradient(#66ff66 0%, #ff3399 100%);
	height: 100vh;
	display: grid;
	margin: 0;
	padding: 1rem;
}

.fname {
	position: absolute;
	top: 0%;
	left: 5%;
	color: white;
	opacity: 0.7;
}

.lname {
	position: absolute;
	top: 10%;
	left: 50%;
}

h1 {
	font-family: "Dosis";
	font-weight: medium;
	letter-spacing: 25pt;
	font-size: 65pt;
	color: rgb(0,0,0);
	z-index: 100;
}

.memes {
	top: 50px;
	right: 40px;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	height: 600px;
	width: 800px;
	top: 50px;
	right: 20px;
	height: 100px;
	width: 250px;
	z-index: 99;
}

.assignments {
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	height: 600px;
	width: 600px;
	z-index: 99;
	top: 10px;
	left: 5px;
}
