html {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

body {
	background-image: url("../Final-images/windows_default_wallpaper.jpg");
	background-color: #cccccc;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
}

@keyframes slide {
	0% 
	50% {
		transform: translate(30vw, 0);
	}
	50% {
		transform: translate(-40vw, 0);

	}
}