html {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

body {
	background-color: black;
	border-image: url("../Final-images/plant3.gif") 50 round;
	padding: 50px;
	overflow: hidden;
}

.borderimg1 {
	border: 30px solid transparent;
	padding: 300px;
	border-image: url("../Final-images/plant3.gif") 50 round;
	cursor: url("../Final-images/plant2.gif"), auto;
	border-image-repeat: repeat;
}

.borderimg2 {
	border: 40px solid transparent;
	padding: 300px;
	border-image: url("../Final-images/plant3.gif") 50 round;
	cursor: url("../Final-images/plant2.gif"), auto;
}

#openingdance {
	top: 200px;
	left: 500px;
	size: 50px;
}