html {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

body {
	background-image: url("../Final-images/windows_default_wallpaper.jpg");
	background-color: #cccccc;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	border: 30px solid transparent;
	padding: 50px;
	border-image: url("../Final-images/粉蝴蝶挂件.gif") 50 round;
	cursor: url("../Final-images/plant2.gif"), auto;
}

.cursor {
	cursor: url("../Final-images/plant2.gif"), auto;
}

.borderimg {
	border: 30px solid transparent;
	padding: 50px;
	border-image: url("../Final-images/粉蝴蝶挂件.gif") 50 round;
	cursor: url("../Final-images/plant2.gif"), auto;
}
/*.type-cursor {
	opacity: 1;
}

.type-cursor.type-cursor--blink {
	animation: typedjsBlink 0.7s infinite;
	-webkit-animation: typedjsBlink 0.7s infinite;
			animation: typejsBlink 0.7s infinite;
}

@keyframes typedjsBlink {
	50% { opacity: 0.0; }
}*/

/*@-webkit-keyframes typedjsBlink {
	0% { opacity: 1; }
	50% { opacity: 0.0; }
	100% { opacity: 1; }
}*/

/*@keyframes slide {
	0% 
	50% {
		transform: translate(30vw, 0);
	}
	50% {
		transform: translate(-40vw, 0);

	}
}*/
